---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle="Services">
  <section>
    <h1>Services</h1>
    <p>
      Questa è la pagina servizi
    </p>
  </section>
</BaseLayout>